<!-- grid styled by colourgrid.css -->
<div class="colourgrid">
    <div class="colourgrid__item" id="colour-primary">
        <div class="text-lorem">Lorem Ipsum</div>
        <div class="break"></div>
        <p class="colour-label">Primary</p></div>
    <div class="colourgrid__item" id="colour-accent">
        <div class="text-lorem">Lorem Ipsum</div>
        <div class="break"></div>
        <p class="colour-label">Accent</p></div>
    <div class="colourgrid__item" id="colour-offblack">
        <div class="text-lorem">Lorem Ipsum</div>
        <div class="break"></div>
        <p class="colour-label">Off Black</p></div>
    <div class="colourgrid__item" id="colour-white">
        <div class="text-lorem">Lorem Ipsum</div>
        <div class="break"></div>
        <p class="colour-label">White</p></div>
    <div class="colourgrid__item" id="colour-error">
        <div class="text-lorem">Lorem Ipsum</div>
        <div class="break"></div>
        <p class="colour-label">Error</p></div>
    <div class="colourgrid__item" id="colour-success">
        <div class="text-lorem">Lorem Ipsum</div>
        <div class="break"></div>
        <p class="colour-label">Success</p></div>
</div>