
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="i just wrote this">
    <link rel="stylesheet" href="/css/internalbase.css">
    <link rel="stylesheet" href="/css/internalcontent.css">
    <link rel="stylesheet" href="/css/linkedHeading.scss">
    <link rel="stylesheet" href="/css/colourgrid.css">
    <!-- old stylesheet - remove this <link rel="stylesheet" href="/css/newstyle.css">-->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&family=Roboto+Mono&family=Rubik:wght@400;500&display=swap" rel="stylesheet">
    <title>{{ page.title }}</title>

