<header>
    <div class="container header-content">
        <div class="header-links left">
            <div id="branding" class="wordmark">OxfordMosaic</div>
            <nav>
                <ul class="nav__list">
                    <li class="nav__link"><a href="#">Site admin</a></li>
                    <li class="nav__link"><a href="#">Theme</a></li>
                    <li class="nav__link"><a href="#">Content</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-links right">
            <button class="save-button">Save changes</button>
            <ul class="nav__list">
                <li class="account-link"><a href="#">Account</a></li>
            </ul>
        </div>
    </div>
</header>